<div class="container-p-4">
    <div class="row">
        {{#each order}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="">
                            <h3 class= "card-title text-uppercase">
                                {{orderID}}
                            </h3>
                        </a>
                        <p class="m-2">{{description}}</p>
                        <p>{{timeago created_at}}</p>
                        <a href="/links/delete/{{orderID}}" class= "btn btn-danger">Delete Order</a>
                        <a href="/links/edit/{{orderID}}" class= "btn btn-secondary">Edit Order</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col md-4 mx-auto">
                <div class= "card card-body text-center">
                    <p>There are no active orders</p>
                    <a href="/links/add">Create a new order!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>